.comment {
  padding: 10px;
}

.body {
  padding-left: 54px;
}

.content {
  margin-bottom: 0;
}

.resolved{
  cursor: pointer;
   display: flex;
  justify-content: space-between;
}
.resolved:hover{

}
