

.light {
    color: #8B949E;
    font-weight: lighter;
    margin-right: 10px;
    margin-left: 10px;
}

.bold {
    font-size: 17px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}
